---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import { Image } from "astro:assets";
import SearchIcon from "@/components/icons/SearchIcon.svg";
const pathname = removeTrailingSlash(Astro.url.pathname);
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header
  class="z-40 flex w-full flex-col gap-2 items-center align-middle md:flex-row md:justify-between"
>
  <a href={translatePath("/")} class="hover:text-neutral-100"
    >{t("page.title")}</a
  >
  <div
    class="mx-4 flex flex-row rounded-full border-[1px] align-middle items-center border-neutral-700 px-2"
  >
    <Image src={SearchIcon} alt="Search icon" class="h-4 w-4" />
    <input
      type="search"
      class="bg-transparent px-2 active:outline-none"
      placeholder={t("nav.search")}
    />
  </div>
  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a
          href={translatePath("/")}
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/",
          }}>Home</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href={translatePath("/posts")}
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/posts",
          }}>Posts</a
        >
      </li>
    </ul>
    <LanguagePicker />
  </nav>
</header>
