---
import { Icon } from "astro-icon/components";
import { defaultLocale, type Locale } from "@/i18n/config";
import { useTranslations } from "@/i18n/utils";

interface Props {
	locale?: Locale;
}

const { locale = defaultLocale } = Astro.props;
const t = useTranslations(locale);

const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/usarral",
		name: "mdi:github",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://linkedin.com/in/usarral",
		name: "mdi:linkedin",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>{t("home.findMeOn")}</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
